<!DOCTYPE html>
<html>
<head>
    <title>Room Card Viewer</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/room_card_viewer.css"> -->
    <!-- <script src="/static/js/room_card_viewer.js"></script> -->
</head>
<body>
    {% if request.user.is_authenticated %}
        <h4>Welcome, {{ user.username }}</h4>
        <p>Room ID : {{room.room_id }}</p>
        <p>Room Password : {{room.room_password}}</p>
        <hr>
        <h4>Participants in the tournament</h4>
        {% for participant in participants%}
            <p>{{participant}}</p>
        {% endfor %}
        <hr>
        <strong>Please note down the Room ID and Password you can't find them again</strong>
    {% endif %}
</body>
</html>