<!DOCTYPE html>
<html>
<head>
    <title>Place Holder</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/room_card_viewer.css"> -->
    <!-- <script src="/static/js/room_card_viewer.js"></script> -->
</head>
<body>
    <h1>Team Details</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="team_name">Team Name:</label>
        <input type="text" id="team_name" name="team_name" required>
        <br>
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" name="phone" required>
        <br>

        <label for="optional">Optional Phone Number</label>
        <input type="text" id="optional" name="optional">
        <br>
        <button type="submit">Create Team</button>
    </form>
</body>
</html>